<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
  <head>
    <!-- <meta charset="UTF-8"/> -->
    <title>Parameters Indexn</title>
  </head>

  <body>
    <h1>Parameters Indexn</h1>
    <ul>
      <li>
        <a th:href="@{/params/string(text='Hil')}">You will send "Hil" as the parameter of the URL</a>
      </li>
      <br>
      <li>
        <a th:href="@{/params/stringnum(text='2 params', num=75)}">2 parameters</a>
      </li>
      <br>
      <li>
        <a th:href="@{/params/httpserv(text='Http Servlet', num='mmmn')}">Using HttpServlet</a>
      </li>
    </ul>

  </body>
</html>